.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    top: 100px;
}

.areaTitle {
    display: flex;
    gap: 4px;
}

.h3 {
    margin-bottom: 10px;
    font-size: 1rem;
}

.label {
    display: flex;
    gap: 4px;
    cursor: pointer;
    font-size: 0.75rem;
}

.input {
    cursor: pointer;
}

.wrapper {
    display: none;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.containerMobile {
    margin-top: 80px;
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 12px 40px;
    /* espaço pros botões */
    scrollbar-width: none;
}

.containerMobile::-webkit-scrollbar {
    display: none;
}

.areaCategory {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
}

.areaIcon {
    width: 42px;
    height: 42px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.25s ease;
}

.filter:hover .areaIcon {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.filter {
    flex: 0 0 auto;
    scroll-snap-align: start;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.filter:active {
    transform: scale(0.95);
}

.navButton {
    position: absolute;
    top: 69%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 5;
    transition: all 0.2s ease;
}

.navButton:hover {
    transform: translateY(-50%) scale(1.1);
}

.left {
    left: 4px;
}

.right {
    right: 4px;
}


@media (max-width: 600px) {
    .wrapper {
        display: flex;
    }

    .containerMobile {
        margin-top: 120px;
    }

    .navButton {
        top: 75%;
    }

    .container {
        display: none;
    }
}