.container {
    position: fixed;
    top: 65px;
    left: 20px;

    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;

}

.filterTitle {
    display: flex;
    gap: 4px;
    margin-bottom: 5px;
}

.filterTitle h3 {
    font-size: .8rem;
}

.filter label {
    cursor: pointer;
}

.filter input {
    cursor: pointer;
    margin-left: 4px;
    width: 0.625rem;
}

.label {
    font-size: .7rem;
}

.filter {
    display: flex;
    gap: 4px;
}