.container {
    position: fixed;
    top: 65px;
    left: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.containerMobile {
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0 10px;
    margin-top: 140px;
    scrollbar-width: none;
}

.containerMobile::-webkit-scrollbar {
    display: none;
}

.filterTitle {
    display: flex;
    gap: 4px;
    margin-bottom: 5px;
}

.filterTitle h3 {
    font-size: .8rem;
}

.filter label {
    cursor: pointer;
}

.filter input {
    cursor: pointer;
    margin-left: 4px;
    width: 0.625rem;
}

.areaCategory {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6rem;
}

.areaIcon {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter {
    display: flex;
    gap: 4px;
    min-width: 100px;
}

@media (max-width: 600px) {
    .container {
        display: none;
    }
}