.footer {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 0 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    background: #FFF;
    z-index: 999;

}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    margin-right: 50px;
}

.bag {
    stroke: #2D6DE6;
}

.copy {
    font-size: 0.75rem;
}

.social {
    margin-left: auto;
    display: flex;
    gap: 20px;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        gap: 10px;
    }

    .social {
        margin: 0 auto;
    }
}