.wrapper {
    position: relative;
    width: 100%;
    max-width: 70%;
}

.input {
    width: 100%;
    padding: 8px 35px 8px 8px;
    border-radius: 8px;
    border: 1px solid #333;
    margin: 0 10px;
}

input:focus {
    border: 1px solid #3b82f6;
    outline: 1px solid #1e72f9;
}

.SearchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #7191E0;
}